<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body id="success_page">
    <header>
        <%- include('partials/_nav') %>
    </header>
    
    <main>
        <div class="container">
            <div class="alert-parent">
                <!-- Display flash messages if there are any -->
                <% if (success_msg) { %>
                    <div class="alert alert-success"><%= success_msg %></div>
                <% } %>
                
                <% if (error_msg) { %>
                    <div class="alert alert-danger"><%= error_msg %></div>
                <% } %>
                
                <% if (error) { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } %>
                <div class="logo-large">
                    <img src="/images/first-aid-kit.png" alt="">
                </div>
                <section class="intro">
                    <h1>Registration Form Submitted Successfully!</h1>
                    <h3>Please wait for approval from Admin. <br> Thank you.</h3>
                </section>
                <!-- Button Section -->
                <div class="qlinks btn-grp">
                    <a href="/" class="btn">Go Home</a>
                    <a href="/triage" class="btn">Add Another Record</a>
                    <a href="/form" class="btn">Add Incident</a>
                    <a href="/records" class="btn">View Records</a>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/_footer') %>
</body>
</html>
