<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triage Book</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body id="records_page">
        <header><%- include('partials/_nav') %></header>
    <section class="prim-header">
        <h1>Triage Book:</h1>
        <h2>FIRST AID POST DAILY RECORDS</h2>
    </section>

    <main>
        <div class="container">
            <div class="wide-table">
                <div class="alert-parent">
                    <table > <!-- Optional: Add border for better visibility -->
                        <!-- Display flash messages if there are any -->
                        <% if (success_msg) { %>
                            <div class="alert alert-success"><%= success_msg %></div>
                        <% } %>
                
                        <% if (error_msg) { %>
                            <div class="alert alert-danger"><%= error_msg %></div>
                        <% } %>
                
                        <% if (error) { %>
                            <div class="alert alert-danger"><%= error %></div>
                        <% } %>
                        <thead class="accent">
                            <tr>
                            <th>ID</th>
                            <th>Post</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Company</th>
                            <th>Badge</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Incident?</th>
                            <th>PresentingComplaints</th>
                            <th>Mobility</th>
                            <th>Respiratory Rate</th>
                            <th>Pulse</th>
                            <th>Blood Pressure</th>
                            <th>Temperature</th>
                            <th>AVPU</th>
                            <th>Oxygen Saturation</th>
                            <th>Glucose</th>
                            <th>Pain Score</th>
                            <th>Final Triage</th>
                            <th>Detained?</th>
                            <th>TreatmentGiven</th>
                            <th>Disposition</th>
                            <th>Disposition Time</th>
                            <th>Reporting</th>
                            <th>Entry by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% records.forEach(record => { %>
                            <tr>
                                <td><%= record.id %></td>
                                <td><%= record.post %></td>
                                <td><%= record.date %></td>
                                <td><%= record.time_of_arrival %></td>
                                <td><%= record.company %></td>
                                <td><%= record.badge %></td>
                                <td><%= record.name %></td>
                                <td><%= record.age %></td>
                                <td><%= record.gender %></td>
                                <td><%= record.incident %></td>
                                <td><%= record.complaints %></td>
                                <td><%= record.mobility %></td>
                                <td><%= record.respiratory_rate %></td>
                                <td><%= record.pulse %></td>
                                <td><%= record.blood_pressure %></td>
                                <td><%= record.temperature %></td>
                                <td><%= record.avpu %></td>
                                <td><%= record.oxygen_saturation %></td>
                                <td><%= record.glucose %></td>
                                <td><%= record.pain_score %></td>
                                <td><%= record.final_triage %></td>
                                <td><%= record.detained %></td>
                                <td><%= record.treatment_given %></td>
                                <td><%= record.disposition %></td>
                                <td><%= record.disposition_time %></td>
                                <td><%= record.reporting %></td>
                                <td><%= record.entry_by %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                
                <!-- Add download button -->
                <div class="qlinks btn-grp">
                    <a href="/export" class="btn">Download as Excel</a>
                
                    <a href="/" class="btn btn-outline">Home</a>
                </div>
            </div>
            
        </div>
    </main>

    <%- include('partials/_footer') %>
</body>
</html>
