<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triage Book</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body id="records_page">
        <header><%- include('partials/_nav') %></header>
    <section class="prim-header table-page-head">
        <div class="container">
            <h1>TRIAGE BOOK:</h1>
            <h2>First Aid Post Daily Records</h2>
        </div>
    </section>

    <main>
        <div class="table-page-container">
            <div class="wide-table">
                <div class="alert-parent">
                    <table > <!-- Optional: Add border for better visibility -->
                        <!-- Display flash messages if there are any -->
                        <% if (success_msg) { %>
                            <div class="alert alert-success"><%= success_msg %></div>
                        <% } %>
                
                        <% if (error_msg) { %>
                            <div class="alert alert-danger"><%= error_msg %></div>
                        <% } %>
                
                        <% if (error) { %>
                            <div class="alert alert-danger"><%= error %></div>
                        <% } %>
                        <thead class="accent">
                            <tr>
                            <th>ID</th>
                            <th>Post</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Company</th>
                            <th>Badge</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Incident?</th>
                            <th>PresentingComplaints</th>
                            <th>Mobility</th>
                            <th>Respiratory Rate</th>
                            <th>Pulse</th>
                            <th>Blood Pressure</th>
                            <th>Temperature</th>
                            <th>AVPU</th>
                            <th>Oxygen Saturation</th>
                            <th>Glucose</th>
                            <th>Pain Score</th>
                            <th>Final Triage</th>
                            <th>Detained?</th>
                            <th>TreatmentGiven</th>
                            <th>Disposition</th>
                            <th>Disposition Time</th>
                            <th>Gen. Condition</th>
                            <th>Reporting</th>
                            <th>Entry by</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% triagebook.forEach(entry => { %>
                            <tr>
                                <td><%= entry.id %></td>
                                <td><%= entry.post %></td>
                                <td><%= entry.date %></td>
                                <td><%= entry.time_of_arrival %></td>
                                <td><%= entry.company %></td>
                                <td><%= entry.badge %></td>
                                <td><%= entry.name %></td>
                                <td><%= entry.age %></td>
                                <td><%= entry.gender %></td>
                                <td><%= entry.incident %></td>
                                <td><%= entry.complaints %></td>
                                <td><%= entry.mobility %></td>
                                <td><%= entry.respiratory_rate %></td>
                                <td><%= entry.pulse %></td>
                                <td><%= entry.blood_pressure %></td>
                                <td><%= entry.temperature %></td>
                                <td><%= entry.avpu %></td>
                                <td><%= entry.oxygen_saturation %></td>
                                <td><%= entry.glucose %></td>
                                <td><%= entry.pain_score %></td>
                                <td><%= entry.final_triage %></td>
                                <td><%= entry.detained %></td>
                                <td><%= entry.treatment_given %></td>
                                <td><%= entry.disposition %></td>
                                <td><%= entry.disposition_time %></td>
                                <td><%= entry.condition %></td>
                                <td><%= entry.reporting %></td>
                                <td><%= user.firstname %></td>
                        
                                <!-- Edit button, only shown if the entry was created by the logged-in user -->
                                
                               
                                <!-- Edit Button: Shown for entry owners or admins -->
                                <!-- Allow the user to edit only if the "entry by" matches their firstname -->
                                <% if (entry['entry by'] === user.firstname) { %>
                                    <td><a class="reg-action btn-approve" href="/edit/triagebook/<%= entry.id %>">Edit</a></td>
                                <% } else { %>
                                    <td>Uneditable</td>
                                <% } %>


                                <!-- Delete Button: Shown for admins only -->
                                <% if (user.role === 'Admin' || user.role === 'Superuser') { %>
                                    <td><a class="reg-action btn-block" href="/delete/triagebook/<%= entry.id %>">Delete</a></td>
                                <% } else { %>
                                    <td>No Access</td>
                                <% } %>
                            </tr>
                            <% }) %>
                        </tbody>
                        
                    </table>
                </div>
                
            </div>
            <!-- Add download button -->
            <div class="btn-grp">
                <a href="/export" class="btn">Export Excel</a>
            
                <a href="/" class="btn btn-outline">Home</a>
            </div>
            
        </div>
    </main>

    <%- include('partials/_footer') %>
    <script src="js/mineaid-scripts.js"></script>
</body>
</html>
