<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medication - Inventory</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    </style>
</head>
<body class="inventory-table-body full-height">
    <header><%- include('../partials/_nav') %></header>

    <main class="">
        <div class="inventory-table-container wide-table alert-parent">
            <h2>Manage Medication Inventory</h2>
            <div class="alert-parent">
                <%- include('../partials/_flash-alert') %>
            </div>
            <!-- Medication Search and Filter -->
            <div class="filter-container search-container">
                <form action="/inventory/medication-inventory" method="GET">
                    <div class="input-grp filter-grp">
                        <input type="text" name="search" placeholder="Search by name...">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
            <!-- Medication List -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Location </th>
                        <th>Medication ID</th>
                        <th>Name</th>
                        <th>Dosage Form</th>
                        <th>Unit</th>
                        <th>Reorder Level</th>
                        <th>Expiry Date</th>
                        <th>Manufacturer</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% medications.forEach(item => { %>
                        <tr>
                            <td><%= item.facility_name %></td>
                            <td><%= item.medication_id %></td>
                            <td><%= item.medication_name %></td>
                            <td><%= item.dosage_form %></td>
                            <td><%= item.unit %></td>
                            <td><%= item.reorder_level %></td>
                            <td><%= item.expiry_date %></td>
                            <td><%= item.manufacturer %></td>
                            <td><%= item.description %></td>
                            <td>
                                <button 
                                    type="button" 
                                    class="reg-action success" 
                                    onclick='openModal(<%= JSON.stringify(item) %>)'>Edit</button> <br>
                                <a href="/inventory/delete-inventory-medication/<%= item.medication_id%>" 
                                   class="reg-action danger" 
                                   onclick="return confirm('Are you sure you want to delete this medication?')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <!-- Edit Medication Modal -->
        <div id="editMedicationModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Edit medication</h2>
                <form id="editMedicationForm" action="/inventory/edit-inventory-medication/:id" method="POST">
                    <input type="hidden" id="medication_id" name="medication_id">
                    <div class="input-grp">
                        <label for="medication_name">Medication Name:</label>
                        <input type="text" id="medication_name" name="medication_name" required>
                    </div>
                    <div class="input-grp">
                        <label for="dosage_form">Dosage Form:</label>
                        <input type="text" id="dosage_form" name="dosage_form" required>
                    </div>
                    <div class="input-grp">
                        <label for="unit">Unit:</label>
                        <input type="text" id="unit" name="unit" required>
                    </div>
                    <div class="input-grp">
                        <label for="reorder_level">Reorder Level:</label>
                        <input type="number" id="reorder_level" name="reorder_level" required>
                    </div>
                    <div class="input-grp">
                        <label for="expiry_date">Expiry Date:</label>
                        <input type="date" id="expiry_date" name="expiry_date" required>
                    </div>
                    <div class="input-grp">
                        <label for="manufacturer">Manufacturer:</label>
                        <input type="text" id="manufacturer" name="manufacturer">
                    </div>
                    <div class="input-grp">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>

        <!-- Add New Medication Form -->
        <!-- <h2>Add New Medication</h2>
        <form action="/inventory/medication-checklist" method="POST">
            <div class="input-grp">
                <label for="medication_name">Medication Name</label>
                <input type="text" id="medication_name" name="medication_name" required>
            </div>
            <div class="input-grp">
                <label for="unit">Unit</label>
                <input type="text" id="unit" name="unit" required>
            </div>
            <div class="input-grp">
                <label for="reorder_level">Reorder Level</label>
                <input type="number" id="reorder_level" name="reorder_level" required>
            </div>
            <div class="input-grp">
                <label for="expiry_date">Expiry Date</label>
                <input type="date" id="expiry_date" name="expiry_date" required>
            </div>
            <div class="input-grp">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" id="manufacturer" name="manufacturer">
            </div>
            <div class="input-grp">
                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Medication</button>
        </form> -->
    </main>

    <footer><%- include('../partials/_footer') %></footer>
    <script src="/js/mineaid-scripts.js"></script>
</body>
</html>
