<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/mineaid-styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body class="full-height reset-request">
    <header>
        <%- include('../partials/_nav') %>
        <h1>Request Password Reset</h1>
    </header>
    
    <main>
        <div class="inner-flex">
            <div class="container">
                <div class="form-container">
                    
                    <div class="alert-parent">
                        <h2>Request for Password Reset</h2>
                        <!-- Display flash messages if there are any -->
                        <% if (success_msg) { %>
                            <div class="alert alert-success"><%= success_msg %></div>
                        <% } %>
            
                        <% if (error_msg) { %>
                            <div class="alert alert-danger"><%= error_msg %></div>
                        <% } %>
            
                        <% if (error) { %>
                            <div class="alert alert-danger"><%= error %></div>
                        <% } %>
                        <form action="/reset-request" method="POST">
                            <div class="input-grp">
                                <label for="email">Enter your email:</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Request Password Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer> <%- include('../partials/_footer') %></footer>

    <script src="js/mineaid-scripts.js"></script>
</body>
</html>